{% extends 'base.html' %}
{% block content %}

<a>model list</a>

<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
    
<table style>
    <thead>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in object_fields %}
            <tr>
                
                {% for field in obj.fields %}
                    <td>{{ field }}</td>
                {% endfor %}

                {% for m2m_field in obj.many_to_many %}
                    <td>{{ m2m_field }}</td>
                {% endfor %}
                
                {% if is_director or is_teacher %}
                <td>
                    <form method="GET" action="{% url 'dynamic_model_view' action='update' pk=obj.pk model_name=model_name %}">
                        {% csrf_token %}
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'dynamic_model_view' action='delete' pk=obj.pk model_name=model_name %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>		
                {% endif %}		
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

{% if is_director or is_teacher %}
<a href="{% url 'dynamic_model_view' action='create' model_name=model_name %}">Create new record</a>
{% endif %}	

{% endblock %}