{% extends 'base.html' %}
{% block content %}
<br>

{% if is_director %}
    <p>Zalogowano jako DYREKTOR</p>
    <a href="{% url 'dynamic_model_view' action='list' model_name='lesson' %}">LEKCJE</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='teacher' %}">NAUCZYCIELE</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='student' %}">UCZNIOWIE</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='school_adress' %}">ADRES SZKOŁY</a>
    <br>
{% elif is_teacher %}
    <p>Zalogowano jako NAUCZYCIEL</p>
    <a href="{% url 'dynamic_model_view' action='list' model_name='lesson' %}">PROWADZONE LEKCJE</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='student' %}">UCZNIOWIE</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='grade' %}">OCENY</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='teacher_lesson_student' %}">OCENY-wystawianie?</a>
    <br>
    <br>
{% elif is_student %}
    <p>Zalogowano jako UCZEŃ</p>
    <a href="{% url 'dynamic_model_view' action='list' model_name='lesson' %}">LEKCJE</a>
    <br>
    <br>
    <a href="{% url 'dynamic_model_view' action='list' model_name='grade' %}">OCENY</a>
    <br>
    <br>
{% endif %}

{% endblock %}